<div class="row">
  <div class="col-xs-12">
      <div class="row">
        <ba-card class="statistic-section col-xlg-3 col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let statistic of listStatistic">
            <div class="section-header">{{ statistic.header }}</div>
            <div class="row statistic-container">
                <div class="statistic-box" *ngFor="let box of statistic.boxes" [ngClass]="box.class">
                    <div class="box-title">{{ box.title }}</div>
                    <div class="box-value">{{ displayStatisticValue(box.value) }}</div>
                </div>
            </div>
        </ba-card>
      </div>
  </div>
</div>
