@import '../../theme/sass/auth';

.phone-number-group {
    position: relative;

    input {
        padding-left: 95px;
    }

    select {
        background-color: #2f4959;
        background-image: url($images-root + 'zappp/select-arrow-down.png'), linear-gradient(#2f4959, #2f4959 40%, #2f4959);
        border: none;
        border-radius: 5px 0 0 5px;
        color: inherit;
        font-size: inherit;
        height: calc(100% - 2px);
        width: 85px;
        padding: 7px 5px;
        position: absolute;
        margin-left: 16px;

        &:focus, &:active {
            outline: none;
            color: inherit;
        }
    }
}
