@import '../../theme/sass/auth';

.phone-number-group {
    position: relative;

    input {
        padding-left: 90px;
    }

    select {
        -moz-appearance: none;
        -moz-user-select: none;
        -webkit-appearance: none;
        -webkit-user-select: none;
        background-color: #2f4959;
        background-image: url("http://i62.tinypic.com/15xvbd5.png"), linear-gradient(#2f4959, #2f4959 40%, #2f4959);
        background-position: 85% center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        border: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        color: inherit;
        font-size: inherit;
        height: calc(100% - 2px);
        left: 0;
        margin-left: 16px;
        outline: none;
        overflow: hidden;
        padding: 7px 5px;
        position: absolute;
        text-overflow: ellipsis;
        top: 1px;
        white-space: nowrap;
        width: 80px;
        z-index: 10;

        &:focus, &:active {
            outline: none;
            color: inherit;
        }
    }
}
