<div class="auth-main" [ngClass]="registerFormStepCount==3 ? 'register-page' : ''">
  <div class="auth-block" [hidden]="registerFormStepCount != 1">
    <h1>{{ 'SIGN_UP.BOX_TITLE' | translate }}</h1>
    <a routerLink="/login" class="auth-link">{{ 'SIGN_UP.LOG_IN_LINK_TEXT' | translate }}</a>

    <form [formGroup]="checkPhoneNumberForm" (ngSubmit)="checkPhoneNumber()" class="form-horizontal">
      <div class="form-group" [ngClass]="{'has-error': (!phoneNumber.valid && phoneNumber.touched), 'has-success': (phoneNumber.valid && phoneNumber.touched)}">
        <div class="phone-number-group">
          <select #selectCountryCode [formControl]="phoneNumberCountryCode">
                <option value="HK">+852</option>
                <option value="VN">+84</option>
              </select>
          <input #inputPhoneNumber [formControl]="phoneNumber" type="text" class="form-control" placeholder="{{ 'GLOBAL.PHONE_NUMBER' |translate }}">
        </div>
        <span *ngIf="phoneNumber.value.length == 0 && phoneNumber.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_PHONE_NUMBER_IS_REQUIRED' | translate }}</span>
        <span *ngIf="!phoneNumber.valid && phoneNumber.value.length > 0 && phoneNumber.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_INVALID_PHONE_NUMBER' | translate }}</span>
      </div>
      <div class="form-group">
        <button [disabled]="!checkPhoneNumberForm.valid" type="submit" class="btn btn-default btn-auth">{{ 'BUTTONS.SUBMIT' | translate }}</button>
      </div>
    </form>
  </div>
  <div class="auth-block" [hidden]="registerFormStepCount != 2">
    <h1>{{ 'SIGN_UP.BOX_TITLE' | translate }}</h1>

    <form [formGroup]="senderLoginForm" (ngSubmit)="senderLogin()" class="form-horizontal">
      <div class="form-group">
        <div class="phone-number-group">
          <select value="{{phoneNumberCountryCode.value}}" disabled>
                <option value="HK">+852</option>
                <option value="VN">+84</option>
              </select>
          <input type="text" value="{{phoneNumber.value}}" disabled class="form-control" placeholder="{{ 'GLOBAL.PHONE_NUMBER' |translate }}">
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': (!senderPassword.valid && senderPassword.touched), 'has-success': (senderPassword.valid && senderPassword.touched)}">
        <input #inputSenderPassword [formControl]="senderPassword" type="password" class="form-control" placeholder="{{ 'SIGN_UP.ENTER_YOUR_PASSWORD' | translate }}" />
        <span *ngIf="senderPassword.value.length == 0 && senderPassword.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_PASSWORD_IS_REQUIRED' | translate }}</span>
      </div>
      <div class="form-group">
        <button [disabled]="!senderLoginForm.valid" type="submit" class="btn btn-default btn-auth">{{ 'BUTTONS.SUBMIT' | translate }}</button>
        <a class="forgot-pass" href="#" (click)="showCheckPhoneNumberForm($event)">{{ 'GLOBAL.BACK' | translate }}</a>
      </div>
    </form>
  </div>
  <div class="auth-block" [hidden]="registerFormStepCount != 3">
    <h1>{{ 'SIGN_UP.BOX_TITLE' | translate }}</h1>

    <form [formGroup]="form" (ngSubmit)="signUp()" class="form-horizontal register-form">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="form-group text-center" [ngClass]="{'has-error': (!avatarBase64 && (photoPreview.touched || submitted))}">
            <ba-picture-uploader #photoPreview [(picture)]="avatarBase64" [canDelete]="false" [defaultPicture]="defaultPicture"></ba-picture-uploader>
            <span *ngIf="!avatarBase64 && (photoPreview.touched || submitted)" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_PHOTO_IS_REQUIRED' | translate }}</span>
          </div>
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
            <input #inputName [formControl]="name" type="text" class="form-control" placeholder="{{ 'GLOBAL.NAME' | translate }}" />
            <span *ngIf="!name.valid && name.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_NAME_IS_REQUIRED' | translate }}</span>
          </div>
          <div class="form-group" [ngClass]="{'has-error': ((!email.valid && email.touched) || signUpErrorCode == ERROR_CODE.EMAIL_EXISTED), 'has-success': (email.valid && email.touched && signUpErrorCode != ERROR_CODE.EMAIL_EXISTED)}">
            <input [formControl]="email" type="email" class="form-control" placeholder="{{ 'GLOBAL.EMAIL' | translate }}"/>
            <span *ngIf="email.errors && email.errors.required && email.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_EMAIL_IS_REQUIRED' | translate }}</span>
            <span *ngIf="email.errors && !email.errors.required && !email.errors.validateEmail.valid && email.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_EMAIL_IS_INVALID' | translate }}</span>
            <span *ngIf="email.valid && signUpErrorCode == ERROR_CODE.EMAIL_EXISTED" class="help-block sub-little-text">{{ 'SYNC.STR_SERVER_ERR_EMAIL_IS_IN_USE' | translate }}</span>
          </div>
          <div class="form-group" [ngClass]="{'has-error': ((!username.valid && username.touched) || signUpErrorCode == ERROR_CODE.USERNAME_EXISTED), 'has-success': (username.valid && username.touched && signUpErrorCode != ERROR_CODE.USERNAME_EXISTED)}">
            <input #inputUsername [formControl]="username" type="text" class="form-control" placeholder="{{ 'GLOBAL.USERNAME' | translate }}"/>
            <span *ngIf="username.value.length == 0 && username.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_USERNAME_IS_REQUIRED' | translate }}</span>
            <span *ngIf="username.value.length > 0 && (username.value.length < 4 || username.value.length > 30) && username.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_USERNAME_LENGTH' | translate }}</span>
            <span *ngIf="!username.valid && username.value.length >= 4 && username.value.length <= 30 && username.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_USERNAME_FORMAT' | translate }}</span>
            <span *ngIf="username.valid && signUpErrorCode == ERROR_CODE.USERNAME_EXISTED" class="help-block sub-little-text">{{ 'SYNC.STR_SERVER_ERR_USERNAME_IS_IN_USE' | translate }}</span>
          </div>
        </div>
      </div>
      <div *ngIf="!hasUserInfo && password" class="form-group" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <input [formControl]="password" type="password" class="form-control" placeholder="{{ 'SIGN_UP.ENTER_YOUR_PASSWORD' | translate }}" />
        <span *ngIf="password.value.length == 0 && password.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_PASSWORD_IS_REQUIRED' | translate }}</span>
        <span *ngIf="password.value.length > 0 && password.value.length < 4 && password.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_PASSWORD_LENGTH' | translate }}</span>
      </div>
      <div *ngIf="!hasUserInfo && repeatPassword" class="form-group" [ngClass]="{'has-error': (password.valid && !passwords.valid && password.touched && repeatPassword.touched), 'has-success': (repeatPassword.valid && passwords.valid && password.touched && repeatPassword.touched)}">
        <input [formControl]="repeatPassword" type="password" class="form-control" placeholder="{{ 'SIGN_UP.CONFIRM_PASSWORD' | translate }}" />
        <span *ngIf="password.valid && !passwords.valid && password.touched && repeatPassword.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_PASSWORD_CONFIRM_PASSWORD_NOT_MATCH' | translate }}</span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': (!birthdayDay && birthdayDateTimePicker.touched), 'has-success': (birthdayDay && birthdayDateTimePicker.touched)}">
        <datetimepicker #birthdayDateTimePicker [(dateTimeModel)]="birthdayDay" [hideTimePicker]="true" placeholder="{{ 'GLOBAL.BIRTHDAY' | translate }}" [formatDateTime]="formatDateTime"></datetimepicker>
        <span *ngIf="(birthdayDateTimePicker.touched || submitted) && !birthdayDay" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_BIRTHDAY_IS_REQUIRED' | translate }}</span>
        <!-- <input [formControl]="birthday" type="text" class="form-control" placeholder="{{ 'GLOBAL.BIRTHDAY' | translate }}" /> -->
      </div>
      <div class="form-group" [ngClass]="{'has-error': ((!idNumber.valid && idNumber.touched) || signUpErrorCode == ERROR_CODE.ID_EXISTED), 'has-success': (idNumber.valid && idNumber.touched && signUpErrorCode != ERROR_CODE.ID_EXISTED)}">
        <input [formControl]="idNumber" type="text" class="form-control" placeholder="{{ 'GLOBAL.IDENTIFICATION_NUMBER' | translate }}"/>
        <span *ngIf="!idNumber.valid && idNumber.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_ID_IS_REQUIRED' | translate }}</span>
        <span *ngIf="idNumber.valid && signUpErrorCode == ERROR_CODE.ID_EXISTED" class="help-block sub-little-text">{{ 'SYNC.STR_SERVER_ERR_ID_IS_IN_USE' | translate }}</span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': (!gender.valid && gender.touched), 'has-success': (gender.valid && gender.touched)}">
        <select [formControl]="gender" class="form-control">
              <option value="" disabled>{{ 'GLOBAL.GENDER' | translate }}</option>
              <option value="male">{{ 'GENDER_TYPE.MALE' | translate }}</option>
              <option value="female">{{ 'GENDER_TYPE.FEMALE' | translate }}</option>
              <option value="other">{{ 'GENDER_TYPE.OTHER' | translate }}</option>
          </select>
        <span *ngIf="!gender.valid && gender.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_GENDER_IS_REQUIRED' | translate }}</span>
      </div>
      <div class="form-group">
        <div class="phone-number-group">
          <select value="{{phoneNumberCountryCode.value}}" disabled>
              <option value="HK">+852</option>
              <option value="VN">+84</option>
            </select>
          <input type="text" value="{{phoneNumber.value}}" disabled class="form-control" placeholder="{{ 'GLOBAL.PHONE_NUMBER' |translate }}">
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': (!country.valid && country.touched), 'has-success': (country.valid && country.touched)}">
        <select [formControl]="country" class="form-control">
              <option value="" disabled>{{ 'GLOBAL.COUNTRY' | translate }}</option>
              <option value="HK">Hong Kong</option>
         </select>
        <span *ngIf="!country.valid && country.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_COUNTRY_IS_REQUIRED' | translate }}</span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': (!homeAddress.valid && homeAddress.touched), 'has-success': (homeAddress.valid && homeAddress.touched)}">
        <input [formControl]="homeAddress" type="text" class="form-control" placeholder="{{ 'GLOBAL.HOME_ADDRESS' | translate }}" />
        <span *ngIf="!homeAddress.valid && homeAddress.touched" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_HOME_ADDRESS_IS_REQUIRED' | translate }}</span>
      </div>
      <!-- <div class="form-group" [ngClass]="{'has-error': (!transportation.valid && transportation.touched), 'has-success': (transportation.valid && transportation.touched)}">
          <input [formControl]="transportation" type="text" class="form-control" placeholder="{{ 'GLOBAL.AVAILABLE_TRANSPORTATION' | translate }}" />
      </div> -->
      <div class="form-group" [ngClass]="{'has-error': (!availableTransportationHasCheck() && submitted)}">
        <label for="transportation" class="control-label">{{ 'GLOBAL.AVAILABLE_TRANSPORTATION' |translate }}</label>
        <div class="row">
          <ba-multi-checkbox [(ngModel)]="checkboxModel" [ngModelOptions]="{standalone: true}" [propertiesMapping]="checkboxPropertiesMapping"></ba-multi-checkbox>
        </div>
        <span *ngIf="!availableTransportationHasCheck() && submitted" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_MISSING_VEHICLE' | translate }}</span>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!swiftCode.valid && swiftCode.touched) || (!accountNumber.valid && accountNumber.touched), 'has-success': (swiftCode.valid && swiftCode.touched && accountNumber.valid && accountNumber.touched)}">
        <div class="col-xs-12">
          <label for="bankAccountInfo" class="control-label">{{ 'GLOBAL.BANK_ACCOUNT_INFO' |translate }}</label>
        </div>
        <div class="col-md-6">
          <input [formControl]="swiftCode" id="inputSwiftCode" type="text" class="form-control" placeholder="{{ 'GLOBAL.SWIFT_CODE' | translate }}" />
        </div>
        <div class="col-md-6">
          <input [formControl]="accountNumber" type="text" class="form-control" placeholder="{{ 'GLOBAL.ACCOUNT_NUMBER' | translate }}" />
        </div>
        <div class="col-xs-12">
          <span *ngIf="(!swiftCode.valid && swiftCode.touched) || (!accountNumber.valid && accountNumber.touched)" class="help-block sub-little-text">{{ 'SYNC.STR_ERR_MISSING_BANK_INFO' | translate }}</span>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="!form.valid || !birthdayDay" type="submit" class="btn btn-default btn-auth">{{ 'SIGN_UP.SUBMIT_BUTTON_TEXT' | translate }}</button>
        <a class="forgot-pass" href="#" (click)="showCheckPhoneNumberForm($event)">{{ 'GLOBAL.BACK' | translate }}</a>
      </div>
    </form>

    <!-- <div class="auth-sep"><span><span>{{ 'SIGN_UP.SIGN_UP_WITH_THIRD_PARTY_ACCOUNT' | translate }}</span></span></div>

    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><facebook-login title="{{ 'SIGN_UP.SIGN_UP_WITH_FACEBOOK' | translate }}"></facebook-login></li>
        <li><i class="socicon socicon-google" title="{{ 'SIGN_UP.SIGN_UP_WITH_GOOGLE' | translate }}"></i></li>
      </ul>
    </div> -->
  </div>
</div>
