.datetime-picker-container {
  padding: 9px;

  * {
    outline: none;
  }

  .card {
    box-shadow: none;
    margin-bottom: 10px;
    font-size: 13px;
  }

  button.btn.btn-default {
    border: none;
  }

  button.btn.btn-default,
  small,
  strong {
    color: #333333;
    font-size: inherit;
  }

  button.btn {
    transform: none;

    &:not(.btn-info) {
      &:active,
      &:focus,
      &:hover {
        background: #eeeeee;
      }
    }
  }

  .text-info {
    color: #333333 !important;
  }

  monthpicker,
  yearpicker {
    button.btn {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  timepicker {
    margin: 20px auto;
    display: table;

    .form-control {
      color: #333333;
      border: 1px solid #dddddd;
    }
  }
}

datetime-picker-popover-container {
  .popover-content {
    padding: 0;
  }

  .popover {
    max-width: 500px;
    font-size: inherit;
  }

  .popover-arrow {
    display: none;
  }

  &.popover.bs-tether-element-attached-top,
  &.popover.popover-bottom {
    margin-top: 1px;
  }
}

.input-group.input-date-time-group {
    margin-bottom: 0;

    span.input-group-addon {
        background: transparent;
        color: inherit;
        border-radius: 0 5px 5px 0;
        border-color: rgba(255, 255, 255, 0.49);
    }
}
